<!DOCTYPE html>
<html ng-app="markit">
<head>
    <title>markit</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../bower_components/fontawesome/css/font-awesome.css"/>
	<link rel="stylesheet" type="text/css" href="../bower_components/codemirror/lib/codemirror.css"/>
	<link rel="stylesheet" type="text/css" href="../bower_components/codemirror/theme/monokai.css"/>
	<link rel="stylesheet" type="text/css" href="../css/main.css"/>
</head>
<body>

	<div ui-view></div>

	<script src="../bower_components/codemirror/lib/codemirror.js"></script>
	<script src="../bower_components/codemirror/mode/markdown/markdown.js"></script>
	<script src="../bower_components/marked/lib/marked.js"></script>
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-ui-codemirror/src/ui-codemirror.js"></script>
	<script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="../bower_components/ui-router/release/angular-ui-router.js"></script>
	<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="../js/nw-fileDialog.js"></script>
	<script src="../build/dist.js"></script>
</body>
</html>
