<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-brand">Mark It</div>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li> <button class="btn btn-primary navbar-btn" ng-click="new()"><i class="fa fa-file-o"></i> New</button></li>
				<li> <button class="btn btn-primary navbar-btn" ng-click="open()"><i class="fa fa-folder-open-o"></i> Open</button></li>
				<li> <button class="btn btn-primary navbar-btn" ng-click="save()"><i class="fa fa-floppy-o"></i> Save</button></li>
				<li> <button class="btn btn-primary navbar-btn" ng-click="saveAs()"><i class="fa fa-floppy-o"></i> Save As</button></li>
			</ul>
		</div>
	</div>
</nav>


<div class="container">
	<div ui-view></div>
</div>
